{
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "key-spacing": ["error", { "mode": "minimum" }],
    "padded-blocks": "off"
  },
  "env": {
    "node": true,
    "mocha": true,
    "jest": true
  }
}